<div class="acess-container">
    <div id="jbbutton" title="Accessibility">
        <img width="40" height="40" src="{{ base_path }}/images/acessc50.png">
    </div>
    <div id="acess-icons">
        <div class="acess-icon">
            <img width="40" height="40"  id="contrast" title="Contrast" src="{{ base_path }}/images/contraste40.png"/>
        </div>
        <div class="acess-icon">
            <img width="40" height="40"  id="increaseFont" title="Increase Font" src="{{ base_path }}/images/fontsma40.png"/>
        </div>
        <div class="acess-icon">
            <img width="40" height="40"  id="decreaseFont" title="Decrease Font" src="{{ base_path }}/images/fontsme40.png"/>
        </div>
    </div>
</div>