<form id="courseCreateForm" action="#" enctype="multipart/form-data" method="post">
    <div class="ed-container">
        <div class="ed-item s-100 l-100">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input name="nombre" type="text" class="form-control"  required>
            </div>
            <div class="form-group">
                <label for="nombre_corto">Nombre corto</label>
                <input name="nombre_corto" type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label for="level_formation">Categoria</label>
                    <select name="id_categoria" id="id_categoria" class="form-control" required >
                        <option value="">Seleccione una opción</option>
                        
                    </select>
            </div>
            
        </div>
    </div>
</form>