{% extends "template/base.twig" %}
{% block style %}
    <link rel="stylesheet" href="{{ base_path }}/css/home.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
{% endblock %}
{% block content %}
    <section id="information-instance">
        <div class="rd-container">
            <div class="rd-element rd-s-100">
                <h1 class="title-section">Ordenes</h1>
            </div>
        </div>
        <div class="ed-item s-100 flex">
        <a href="{{ url_for('home') }}" class="btn btn-info"> <i class="fa fa-angle-left"></i> Volver</a>
            <button class="btn btn-primary addcourse" data-href="{{ url_for('orden.add') }}">Agregar Orden <i class="fa fa-plus"></i></button>
    </div>



    </section>

<div class="ed-container full">
    <div class="separator"></div>
    <div class="ed-item s-100">
    <br>
        <table id="tb_courses" class="display">
            <thead>
                <tr>
                    <th> Id Order</th>
                    <th> Id Patient</th>
                    <th> Name Patient</th>
                    <th> Id Eps</th>
                    <th> Name Eps</th>
                    <th> Number Authorization</th>
                    <th> Id Modality</th>
                    <th> Name Modality</th>
                    <th> Active</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block modales %}
{% endblock %}