{% extends "template/base.twig" %}
{% block style %}
    <link rel="stylesheet" href="{{ base_path }}/css/home.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
{% endblock %}
{% block content %}
    <section id="information-instance">
        <div class="rd-container">
            <div class="rd-element rd-s-100">
                <h1 class="title-section">Ordenes</h1>
            </div>
        </div>
        <div class="rd-container">
            <div class="rd-element rd-s-100">
                <div class="ed-item s-100 flex">
                    <button class="btn btn-info addcourse" data-href="{{ url_for('orden.add') }}">Agregar Orden <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </section>
<section id="information-instance1">
<div class="rd-container">
    <div class="rd-element rd-s-100">
        <div class="ed-container full">
            <div class="separator"></div>
            <div class="ed-item s-100">
            <br>
                <table id="tb_courses" class="display">
                    <thead>
                        <tr>
                            <th> Id Orden</th>
                            <th> Id Paciente</th>
                            <th> Nombre Paciente</th>
                            <th> Id Eps</th>
                            <th> Nombre Eps</th>
                            <th> Numero Autorizacion</th>
                            <th> Id Modalida</th>
                            <th> Nombre Modalida</th>
                            <th> Estado</th>
                            <th> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block modales %}
{% endblock %}